.button {
	height: var(--button-height-large);
	border: var(--border);
	border-radius: var(--border-radius-controls);
	color: var(--color-black);
	background: transparent;

	@include hover {
		background: var(--color-black);
		color: var(--color-white);
	}

	&:active {
		background: rgba(0, 0, 0, 0.6);
	}

	&--dark {
		background: var(--color-black);
		color: var(--color-white);

		@include hover {
			background: transparent;
			color: var(--color-black);
		}

		&:active {
			background: rgba(0, 0, 0, 0.1);
		}
	}

	@include tablet {
		height: var(--button-height-small);
	}
}