.dress-style {
	background: var(--color-light-grey);
	border-radius: 40px;
	padding: 64px 70px;

	@include tablet {
		padding: 24px 40px;
	}

	&__title {
		margin-bottom: 64px;

		@include tablet {
			margin-bottom: 40px;
		}

		@include mobile {
			margin-bottom: 28px;
		}
	}

	&__item {
		border-radius: var(--border-radius-large);
		background-color: var(--color-white);
		position: relative;
		overflow: hidden;
		height: 289px;

		@include tablet {
			height: 190px;
		}
	}

	&__item-title {
		@include fluid-text(36, 24);
		font-family: var(--font-family-base);
		position: absolute;
		z-index: 1;
		left: 1.5rem;
		top: 1rem;
		display: block;
	}


	&__link:hover &__image--casual {
		@include hover {
			scale: calc(var(--scale-casual) + 0.1);
		}
	}

	&__link:hover &__image--formal {
		@include hover {
			scale: calc(var(--scale-formal) + 0.1);
		}
	}

	&__link:hover &__image--party {
		@include hover {
			scale: calc(var(--scale-party) + 0.1);
		}
	}

	&__link:hover &__image--gym {
		@include hover {
			scale: calc(var(--scale-gym) + 0.1);
		}
	}

	&__content {
		grid-template-columns: 1fr;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 0.63fr 1fr;
		gap: 20px;

		& a:nth-child(2),
		& a:nth-child(3) {
			grid-column: span 2;

			@include mobile {
				grid-column: unset;
			}
		}

		@include tablet {
			gap: 16px;
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__image {
		@include abs-center;
		object-fit: contain;
		transition: var(--transition);

		&--casual {
			--scale-casual: 2.3;
			scale: var(--scale-casual);
			top: 75%;
			left: 75%;

			@include tablet {
				--scale-casual: 1.5;
				left: 70%;
			}

			@include mobile {
				--scale-casual: 1.4;
				left: 81%;
				top: 67%;
			}

			@include mobile-s {
				left: 71%;
			}
		}

		&--formal {
			--scale-formal: 3;
			scale: var(--scale-formal);
			top: 99%;
			left: 54%;

			@include tablet {
				--scale-formal: 2;
				left: 60%;
			}

			@include mobile {
				--scale-formal: 1.6;
				left: 71%;
				top: 78%
			}

			@include mobile-s {
				left: 58%;
			}
		}

		&--party {
			--scale-party: 2;
			scale: var(--scale-party);
			top: 48%;
			left: 56%;

			@include tablet {
				--scale-party: 1.5;
				left: 62%;
				top: 55%;
			}

			@include mobile {
				--scale-party: 1.3;
				left: 74%;
				top: 49%;
			}

			@include mobile-s {
				left: 66%
			}
		}

		&--gym {
			--scale-gym: 2;
			scale: var(--scale-gym);
			top: 61%;
			left: 34%;

			@include tablet {
				--scale-gym: 1.4;
				left: 43%;
				top: 64%;
			}

			@include mobile {
				left: 71%;
				top: 66%;
			}

			@include mobile-s {
				left: 57%;
			}
		}
	}
}

.dress-style__link:hover img {}