.reviews {
	margin-top: 32px;
	gap: 40px;
	position: relative;
	height: 400px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 40px;
		gap: 30px;

		@include tablet {
			margin-bottom: 24px;
		}
	}

	&__title {}

	&__controls {}

	&__slider-content {
		// grid-column: span 2;
		position: relative;
		height: max-content;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 101%;
			width: calc(33.333333% - 14px);
			backdrop-filter: blur(3px);
			top: -1px;
			z-index: 1;
		}

		&::before {
			left: calc(-1* (33.333333%));
		}

		&::after {
			right: calc(-1* (33.333333%));
		}
	}

	&__slider {
		width: 100%;
		display: flex;
		gap: 20px;
		transition: var(--transition);
	}

	&__item {
		min-height: 240px;
		max-width: 400px;
		width: calc(33.333333% - 14px);
		flex-shrink: 0;
		padding: 28px;
		border-radius: var(--border-radius-large);
		border: var(--border);

		@include mobile {
			width: calc(50% - 10px);
			padding: 24px;
			min-height: auto;
		}

		@include mobile-s {
			max-width: 100%;
			width: 100%;
		}
	}

	&__rating {
		margin-bottom: 15px;
	}

	&__username {
		position: relative;
		@include fluid-text(20, 16);
		width: max-content;
		display: flex;
		align-items: center;
		font-family: var(--font-family-base);
		padding-bottom: 12px;

		&--has-verification {
			&::after {
				position: absolute;
				right: -30px;
				@include square(24px);
				content: url('../images/svg/review-verif.svg');
			}
		}
	}

	&__text {}
}