.reviews {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;

	&__title {}

	&__controls {}

	&__slider-content {
		grid-column: span 2;
		position: relative;
		height: max-content;

		&::after {
			// content: '';
			// position: absolute;
			// height: 100%;
			// width: 400px;
			// background: rebeccapurple;
			// top: 0;
			// left: 0;
			// z-index: 10;
		}
	}

	&__slider {
		width: 100%;
		// position: absolute;
		display: flex;
		gap: 20px;
		// left: 0;
		transition: var(--transition);
	}

	&__item {
		min-height: 240px;
		max-width: 400px;
		width: calc(33.333333% - 14px);
		flex-shrink: 0;
		padding: 28px;
		border-radius: var(--border-radius-large);
		border: var(--border);
	}

	&__rating {
		margin-bottom: 15px;
	}

	&__username {
		position: relative;
		@include fluid-text(20, 16);
		width: max-content;
		display: flex;
		align-items: center;
		font-family: var(--font-family-base);
		padding-bottom: 12px;

		&--has-verification {
			&::after {
				position: absolute;
				right: -30px;
				@include square(24px);
				content: url('../images/svg/review-verif.svg');
			}
		}
	}

	&__text {}
}